{% extends 'main/base.html'%}

{% block title %}
Массаж
{% endblock %}

{% block content %}
<section class="section section_about" id="about">
		<div class="section_header wow rubberBand animated" style="visibility: visible;">
		</div>
		<div class="section_content">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-12 animation_1 wow rotateInDownLeft animated" style="visibility: visible;">
						<h3>О себе</h3>
						<p>Привет! Меня зовут Евгения и я сертифицированный мастер по классическому  массажу</p>
						<p>У вас сидячая работа в одном положении? Или просто болит спина? Добро пожаловать на КЛАССИЧЕСКИЙ массаж. Принимаю в уютной домашней студии, работаю с маслом.</p>
					</div>
					<div class="col-lg-4 col-12 animation_2 wow flipInY animated" style="visibility: visible;">
						<div class="photo">
							<img  src="media/images/about_title_Ekvm83N.jpg">
						</div>
					</div>
					<div class="col-lg-4 col-12 animation_3 personal_block wow rotateInDownRight animated" style="visibility: visible;">
						<h3 class="personal_title">Евгения Крамаренко</h3>
						<ul>
							<li>Сертифицированный мастер по классическому  массажу</li>
							<li>День рождения: 13.04.1978</li>
							<li>Номер телефона:  <a href="tel:+79111143880">+ 7 911 114 38 80</a></li>
							<li>E-mail: <a href="mailto:jenykram@mail.ru">jenykram@mail.ru</a></li>
							<li>Делаю массаж только женщинам</li>
						</ul>
					</div>
		</div>
			</div>
		</div>

<h3>&nbsp</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d502.6869323169331!2d30.45840312928116!3d59.73701427473893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc3fe4a7934ff6e87!2zNTnCsDQ0JzEzLjMiTiAzMMKwMjcnMzIuMiJF!5e0!3m2!1sru!2sru!4v1673957760550!5m2!1sru!2sru" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

{% endblock %}

